<div id="<%= dom_id circuit %>">
  <p>
    <strong>Number:</strong>
    <%= circuit.number %>
  </p>

  <p>
    <strong>Wire:</strong>
    <%= circuit.uncut_wire.name %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= circuit.position.to_s %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= circuit.length %>
  </p>  

</div>
