
<%= simple_form_for([@wiring_harness,@circuit]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :number %>
    <%= f.input :position %>
    <%= f.input :length %>
    <%= f.association :p1_terminal %>
    <%= f.association :p2_terminal %>
    <%= f.association :twisted_with_circuit, label_method: :number, value_method: :id%>
    <%= f.input :quantity %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to "Cancel", :back, class: "btn btn-secondary" %>
  </div>
<% end %>
