<table class="table table-striped ">
  <%= turbo_frame_tag Circuit.new %>
  <thead class="thead">
    <tr>
      <th scope="col">Label</th>
      <th scope="col">Wire</th>
      <th scope="col">Positions</th>
      <th scope="col">Length</th>
      <th scope="col">P1 Terminal</th>
      <th scope="col">P2 Terminal</th>
      <th scope="col">Twisted With</th>
      <th scope="col">Quantity</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody class="align-middle">
    <% circuits.each do |circuit| %>
    <%= turbo_frame_tag circuit %>
      <tr>
        <td class="mt-2"><%= circuit.number %></td>
        <td class="mt-2"><%= circuit.uncut_wire.name %></td>
        <td class="mt-2"><%= circuit.position.reject(&:blank?).join(',') %></td>
        <td class="mt-2"><%= "#{circuit.length} cm" %></td>

        <td class="mt-2"><%= circuit.p1_terminal.name %></td>
        <td class="mt-2"><%= circuit.p2_terminal.name %></td>
        <td class="mt-2"><%= circuit.twisted_with_circuit %></td>
        <td class="mt-2"><%= circuit.quantity %></td>

        <td>
          <div>
            <%= link_to "<i class=\"bi bi-eye-fill btn btn-primary\"></i>".html_safe, circuit %>
            <%= link_to "<i class=\"bi bi-pencil-fill btn btn-success\"></i>".html_safe, edit_wiring_harness_circuit_path(circuit.wiring_harness_id, circuit), data: { turbo_frame: dom_id(circuit)} %>
            <%= link_to "<i class=\"bi bi-node-plus btn btn-warning\"></i>".html_safe, new_circuit_splice_path(circuit), data: { turbo_frame: dom_id(Splice.new)} %>
            <%= link_to "<i class=\"bi bi-archive-fill btn btn-danger\"></i>".html_safe, circuit, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
          </div>
        </td>
        <%= turbo_frame_tag Splice.new %>
        <%# TODO Constantly pinging the db for splices belonging to a circuit  %>
        <% if  circuit.splices.present?%>
        <% console  %>
          <tr>
            <td colspan="8">
              <table class="table mb-0">
                <thead class="thead">
                  <tr>
                    <th scope="col">Splice</th>
                    <th scope="col">Length</th>
                    <th scope="col">Terminal</th>
                    <th scope="col">Position</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody class="align-middle">
                  <% circuit.splices.each do |splice| %>
                    <tr class="">
                      <td class="mt-2"><%= splice.uncut_wire.name %></td>
                      <td class="mt-2"><%= "#{splice.length} cm" %></td>
                      <td class="mt-2"><%= splice.terminal.name %></td>
                      <td class="mt-2">TODO</td>
                      <td class="mt-2"><%= splice.quantity %></td>  
                      <td>
                        <div>
                          <%= link_to "<i class=\"bi bi-eye-fill btn btn-primary\"></i>".html_safe, splice %>
                          <%= link_to "<i class=\"bi bi-pencil-fill btn btn-success\"></i>".html_safe, edit_circuit_splice_path(circuit.id, splice) %>
                          <%= link_to "<i class=\"bi bi-archive-fill btn btn-danger\"></i>".html_safe, circuit, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </td>
          </tr>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>