<div 
  class="hidden" 
  tabindex="-1" 
  data-navbar-target="drawer"
>
  <div class="pt-5 ms-4">
    <ul class="pe-3">
      <li class="nav-item">
        <%= link_to 'Home', root_path, class: 'dropdown-item' %>
      </li>
      <li class="nav-item dropdown">
        <li class="nav-item">
          <a class="nav-link" href="#">Shipments</a>
        </li>
        <a class="nav-link dropdown-toggle" href="#">
          Inventory
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li>
            <%= link_to 'Uncut wires', uncut_wires_path, class: 'dropdown-item' %>
          </li>
          <li>
            <%= link_to 'Circuits', circuits_path, class: 'dropdown-item' %>
          </li>
          <li>
            <%= link_to 'Terminals', terminals_path, class: 'dropdown-item' %>
          </li>
          <li>
            <%= link_to 'Connectors', connectors_path, class: 'dropdown-item' %>
          </li>
          <li>
            <%= link_to 'Pre-pops', prepops_path, class: 'dropdown-item' %>
          </li>
          <li>
            <%= link_to 'Wiring Harnesses', wiring_harnesses_path, class: 'dropdown-item' %>
          </li> 
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">General Inventory</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tools</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Documents</a>
      </li>
    </ul>
  </div>
</div>