<div id="<%= dom_id prepop %>">
  <p>
    <strong>Name:</strong>
    <%= prepop.name %>
  </p>

  <p>
    <strong>Wire harness:</strong>
    <%= prepop.wire_harness_id %>
  </p>

  <p>
    <strong>Weekly need:</strong>
    <%= prepop.weekly_need %>
  </p>

  <p>
    <strong>Weekly quantity:</strong>
    <%= prepop.weekly_quantity %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= prepop.due_date %>
  </p>

</div>
