<div id="<%= dom_id connector %>">
  <p>
    <strong>Name:</strong>
    <%= connector.name %>
  </p>

  <p>
    <strong>Part number:</strong>
    <%= connector.part_number %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= connector.company %>
  </p>

  <p>
    <strong>Positions:</strong>
    <%= connector.positions %>
  </p>  

  <p>
    <strong>Prepop:</strong>
    <%= connector.prepop_id %>
  </p>

</div>
