<div id="<%= dom_id prepped_wire %>">
  <p>
    <strong>Uncut wire:</strong>
    <%= prepped_wire.uncut_wire_id %>
  </p>
<%# 
  <p>
    <strong>Prepop:</strong>
    <%= prepped_wire.prepop_id %>


  <p>
    <strong>P1 terminal:</strong>
    <%= prepped_wire.p1_terminal %>
  </p>

  <p>
    <strong>P2 terminal:</strong>
    <%= prepped_wire.p2_terminal %>
  </p>

</div>
