<div id="<%= dom_id error %>">
  <p>
    <strong>Batch:</strong>
    <%= error.batch_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= error.quantity %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= error.description %>
  </p>

  <p>
    <strong>Salvageable:</strong>
    <%= error.salvageable %>
  </p>

  <p>
    <strong>Error for:</strong>
    <%= error.error_for_id %>
  </p>

</div>
