<div id="<%= dom_id uncut_wire %>">
  <p>
    <strong>Gauge:</strong>
    <%= uncut_wire.gauge %>
  </p>

  <p>
    <strong>Primary color:</strong>
    <%= uncut_wire.primary_color %>
  </p>

  <p>
    <strong>Secondary color:</strong>
    <%= uncut_wire.secondary_color %>
  </p>

  <p>
    <strong>Length in cm:</strong>
    <%= uncut_wire.length_in_cm %>
  </p>

  <p>
    <strong>Date ordered:</strong>
    <%= uncut_wire.date_ordered %>
  </p>

  <p>
    <strong>Part number:</strong>
    <%= uncut_wire.part_number %>
  </p>

</div>
