<div id="<%= dom_id batch %>">
  <p>
    <strong>Batch for:</strong>
    <%= batch.batch_for_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= batch.quantity %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= batch.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= batch.user_id %>
  </p>

</div>
