<div id="<%= dom_id terminal %>">
  <p>
    <strong>Name:</strong>
    <%= terminal.name %>
  </p>

  <p>
    <strong>Abbreviation:</strong>
    <%= terminal.abbreviation %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= terminal.quantity %>
  </p>

  <p>
    <strong>Prepped wire:</strong>
    <%= terminal.prepped_wire_id %>
  </p>

</div>
