<!DOCTYPE html>
<html>
  <head>
    <title>InvenentoryApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-green-100">
    <%= render "shared/navbar" %>
    <div class="pt-4">
      <div class="">
        <div id="flash" class="flash">
          <%= render "shared/flash_messages" %>
        </div>
        <%= yield %>
      </div>
        <%# <%= turbo_frame_tag "remote_modal", target: "_top" %>
      </div>
    </div>
  </body>
</html>
